[Unit]
Description=Automatically remove bspwm desktop names
After=xorg.target xcape.service

[Service]
ExecStart=%h/.local/bin/autoremover.sh
Type=simple
Restart=always
RestartSec=5
Environment=BSPWM_SOCKET=/tmp/bspwm_0_0-socket

[Install]
WantedBy=default.target
